# For production deployment

version: '3.8'

services:
  db:
    image: postgres:17
    container_name: pg_db
    environment:
      POSTGRES_PASSWORD: 123
    ports:
      - '5432:5432'
    volumes:
      - ./pgdata:/var/lib/postgresql/data
    restart: always
  # app:
  #   build:
  #     context: .
  #     dockerfile: Dockerfile
  #   env_file:
  #     - .env
  #   ports:
  #     - '3000:3000'
  #   environment:
  #     - PORT=3000
